<div class="login-container">
    <div class="login-wrapper">
      <div class="login-background"></div>
      <mat-card class="login-card">
        <div class="login-content">
          <div class="login-header">
            <h2>Welcome Back</h2>
            <p>Sign in to continue to your journal</p>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
            <mat-form-field appearance="outline" class="full-width">
                <input matInput 
                       formControlName="name" 
                       type="text" 
                       placeholder="Enter your Name"
                       required>
                <mat-icon matPrefix>person</mat-icon>
                <mat-error *ngIf="registerForm.get('name')?.invalid">
                  Please enter a valid Name
                </mat-error>
              </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <input matInput 
                     formControlName="email" 
                     type="email" 
                     placeholder="Enter your email"
                     required>
              <mat-icon matPrefix>email</mat-icon>
              <mat-error *ngIf="registerForm.get('email')?.invalid">
                Please enter a valid email
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <input
              matInput
              formControlName="password"
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Enter your password"
              required
              />
              <mat-icon matPrefix>lock</mat-icon>
              <button
                mat-icon-button
                matSuffix
                (click)="togglePasswordVisibility()"
                type="button"
                aria-label="Toggle password visibility"
              >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="registerForm.get('password')?.invalid">
                Password is required
              </mat-error>
            </mat-form-field>
            

            <div class="forgot-password">
              <a href="#">Forgot Password?</a>
            </div>

            <button mat-raised-button 
                    color="primary" 
                    type="submit" 
                    class="login-button"
                    >
              Sign Up
            </button>
          </form>

          <div class="signup-link">
            <p>Don't have an account? <a routerLink="/login">Sign In</a></p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>